/* ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* FONTS FAMILY */
@import url("https://fonts.cdnfonts.com/css/share-techmono-2");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share-TechMono", sans-serif;
}

section{
  float:left;
  width:100%;
  background: #fff;  /* fallback for old browsers */
  padding:30px 0;
}

/* ===== BACK TO TOP ===== */

.top {
  --offset: 50px; 
  
  position: sticky;
  bottom: 20px;      
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  
  /* visual styling */
  text-decoration: none;
  padding: 15px;
  color: #fff;
  background: #232323;
  border-radius: 100px;
  white-space: nowrap;
  z-index: 999;
  margin-left: 90%;
}

.top a:hover{
  color: #0000;
  background-color: #fff;
}

/* remove the below if you don't want smooth scrolling */
html,
body {
  scroll-behavior: smooth;
}

/* ===== CARD BUSINES TEAM SECTION ===== */

.team-list img {
  width: 50%;
}

.team-list .content {
  width: 50%;
}

.team-list .content .follow {
  position: absolute;
  bottom: 24px;
}

.team-list:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.team, .team-list {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team .content .title, .team-list .content .title {
  font-size: 18px;
}

.team .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .member-position, .team .team-social {
  position: absolute;
  bottom: -35px;
  right: 0;
  left: 0;
  margin: auto 10%;
  z-index: 99;
}

.team .team-social {
  bottom: 40px;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.team:hover .overlay {
  opacity: 0.6;
}

.team:hover .team-social {
  opacity: 1;
}

@media (max-width: 768px) {
  .team-list img,
  .team-list .content {
    width: 100%;
    float: none !important;
  }
  .team-list img .follow,
  .team-list .content .follow {
    position: relative;
    bottom: 0;
  }
}

.social-icon.social li a {
    color: #adb5bd;
    border-color: #adb5bd;
}
.social-icon li a {
    color: #35404e;
    border: 1px solid #35404e;
    display: inline-block;
    height: 32px;
    text-align: center;
    font-size: 15px;
    width: 32px;
    line-height: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}
.rounded {
    border-radius: 5px !important;
}

.para-desc {
    max-width: 600px;
}
.text-muted {
    color: #8492a6 !important;
}

.section-title .title {
    letter-spacing: 0.5px;
    font-size: 30px;
}

/* ===== USER INFO SECTION ===== */

.fb-profile-block {
  margin: auto;
  position: relative;
  width: 100%;
}
.cover-container{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.fb-profile-block-thumb{
  display: block;
  height: 300px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.fb-profile-block-menu {
  border: 1px solid #d3d6db;
  border-radius: 0 0 3px 3px;
}
.profile-img a{
    bottom: 15px;
    box-shadow: none;
	display: block;
	left: 15px;
	padding:1px;
	position: absolute;
	height: 160px;
	width: 160px;
	z-index:9;
}
.profile-img img {
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  height:158px;
  width:158px;
}
.profile-name {
  bottom: 60px;
  left: 200px;
  position: absolute;
}
.profile-name h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  max-width: 275px;
  position: relative;
}
.fb-profile-block-menu{
  height: 44px;
  position: relative;
  width:100%;
  overflow:hidden;
 }
.block-menu {
  clear: right;
  padding-left: 205px;
}
.block-menu ul{
	margin:0;
	padding:0;
}
.block-menu ul li{
	display:inline-block;
}
.block-menu ul li a {
  border-right: 1px solid #e9eaed;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 42px;
  line-height: 3.0;
  padding: 0 17px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  color:#4b4f56;
  text-transform:capitalize;
}
.block-menu ul li:first-child a{
  border-left: 1px solid #e9eaed;
}

/* ===== CARD SECTION ===== */

.profile-card {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card .background-block .background {
  width:100%;
  height: 100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.2px);
  filter: blur(0.1px);
   -webkit-transform: scale(1.8);
  transform: scale(1);
}
.profile-card .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9;
}
.profile-card .card-content::before {
    content: '';
    background: #efefef;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 25px;
    position: absolute;
    z-index: -1;
}
.profile-card .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 45%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  /* IF YOU WANT BORDER */
  border: 2px solid #efefef; 
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 999;
}
.profile-card h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card .icon-block a{
    text-decoration:none;
}
.profile-card i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}

/* SEARCH BUTTON DESIGN */

.form-controll {
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    font-size: 12px;
    position: relative;
    border: 2px solid #000;
}

.btn1 {
    align-items: center;
    position: absolute;
    height: 45px;
    width: 45px;
    border: none;
}

.input-field {
    position: relative;
}
.input-field button {
    position: absolute;
    top: 3px;
    right: 1px;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
}

/* TITLE DESIGN */

.padding-height {
  padding: 110px 0px 0px 0px;
}

.page-title {
  font-size: 30px;
  text-align: start;
  font-weight: 600;
  color: rgb(61, 61, 61);
  padding-bottom: 50px;
  font-family: "Share-TechMono", sans-serif;
}

.line {
  width: 120px;
  height: 2px;
  background-color: rgb(119, 114, 114);
  margin: 16px auto 0 auto;
  margin-bottom: 30px;
}

/* ===== NAVBAR SECTION ===== */

.navbar-brand {
  color: white;
  font-family: "Share-TechMono", sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
}

.nav-menu {
  background: #fff;
  position: fixed;
  padding: 10px;
  width: 100%;
  z-index: 9999;

  transition: all .4s;
}

@media (max-width:34em) {
  .nav-menu {
      background: #ffffff !important;
  }
}

.nav-item {
  padding: 0 10px;
}

.menu-item {
  font-family: "Share-TechMono", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

@media (max-width: 34em) {
  .menu-item {
      padding: 10px 10px 10px;
  }
}

.navbar-toggler {
  cursor: pointer;
  outline: 0;
}

.ham {
  transition: width 0.3s;
  background: #000000;
}

.line1, .line3  {
  width: 28px;
  height: 2px;
  margin: 6px;    
  transition:  0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-3px, 2px);
}

.change .line3 {
  transform: rotate(45deg) translate(-3px, -2px);
}

.menu-item:hover {
  color: rgb(145, 145, 145);
}

.nav-active {
  color: rgb(0, 0, 0);
}

.dropdown-item {
  font-family: "Share-TechMono", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.costum-navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff !important;  
  position: fixed;
}

/* ===== END OF NAVBAR SECTION ===== */


/* ===== HERO SECTION ===== */

.hero-section {
  background: linear-gradient(
    rgba(0, 0, 0, .7), 
    rgba(0, 0, 0, .6));
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-hero {
  font-family: "Share-TechMono", sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
}

.sub-text-hero {
  font-family: "Share-TechMono", sans-serif;
  color: orange;
}

.nav-bottom {
  background: transparent !important;
  padding: 30px;
  position: absolute;
  width: 100%;
  
  bottom: 10px;
}

.item-bottom {
  padding: 0 20px;
  transition: .2s;
  font-size: 20px;
}

.item-bottom:hover {
  background: transparent;
  transform: translateY(-2px);
}

/* ===== END OF HERO SECTION ===== */

/* BUTTON ANIMATION */

.button-modern {
    background-color: #fff;
    border: 2px solid #0084ff;
    /* border-radius: 30px; */
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    padding: 0 0px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-modern:hover {
    background-color: #0084ff;
    color: #fff;
}

.button-modern:active {
    box-shadow: #4267b2 1px 1px 0 0;
    transform: translate(1px, 1px);
}

@media (min-width: 768px) {
    .button-modern {
        min-width: 120px;
        padding: 0 25px;
    }
}

/* ABOUT CEO */
.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}

.team-head-text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.team-head-text {
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.containerr {
  max-width: 1380px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.card-box {
  text-align: center;
  box-shadow: #422800 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;  
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  border: 1px solid #0084ff;
}

.card-containerr {
  width: 280px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.name {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 800;
}

.position {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.social-icons {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.team-member-image {
  max-width: 100%;
  border: 2px solid #000;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .card-containerr {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}
